.total-page-details {
    background-color: #19232d;
}
.logo-image {
    height: 60px;
    width: 100px;
}
.google-icon-container {
    background-color: #202b36;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    margin: 15px;
    padding: 22px;
    margin-left: 85px;
}
.icon {
    color: #5a7184;
    font-size: 18px;
}
.icon-container {
    background-color: #202b36;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    margin: 0 8px;
}
.address-container {
    color: #5a7184;
    font-size: 20px;
    font-family: "Roboto";
    padding-top: 20px;
}
.contact-title {
    color: #5a7184;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 700;
}
.contact-info-Purchase {
    list-style-type: none;
    padding-left: 0;
}

.contact-info {
    color: #5a7184;
    font-size: 20px;
    font-family: "Roboto";
}
.end-info {
    font-size: 20px;
    font-family: "Roboto";
    color: #959ead;
}
.hr-line {
    background-color: #5a7184;
    width: 100%;
}